.goalHeader{
  display: flex;
  align-items: center;
  vertical-align: middle;
  h1 {
    font-size: 24px;
    max-width: 400px;
    overflow-wrap: anywhere;
  }
  .goalInput{
    //the input field that creates the title of the each scale
    padding: 5px;
    margin-right: -25px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    &:focus {
      outline: none;
      border-bottom: 2px solid black;
    }
  }
  .goalHeaderIcon{
    display: flex;
    align-items: center;
    padding: 3px;
    &:hover {
      box-shadow: 0 4px 4px #00000033;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}