@use "variables" as *;

/* Taken From https://www.w3schools.com/howto/howto_css_modals.asp -*/
.modal {
  /* The Modal (background) */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */

  .modalContent{
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: $primary;
    border: none;
    border-radius: 5px;
    padding: 30px 40px;
    margin: auto;
    font-size: large;
    max-width: 90vw;
    width: 600px;

    .closeModal{
      color: $highlight;
      font-size: 1.75em;
      position: absolute;
      right: 30px;
      top: 10px;
      &:hover{
        cursor: pointer;
        filter: brightness(1.5);
      }
    }
    label{
      margin-bottom: 5px;

      .required{
        color: red;
      }
    }
    .header, input, textarea{
      margin-bottom: 15px;
    }
    textarea{
      height: 100px;
    }

    .buttons{
      padding-top: 10px;
      text-align: right;
      button {
        box-shadow: 0 4px 4px #00000050;
        margin: 0 5px;
      }
    }
  }
}
