* {
  margin: 0;
  padding: 0;
}
body{
  padding: 20px;
}
.slider{
  margin-bottom: 50px;
  text-align: center;

  &__input{//the input field that creates the title of the each slider
    display: block;
    margin: auto;
    padding: 10px;
  }
  input[type="range"] {
    width: 80vw;
    background: linear-gradient(to right, #ff0000, #00ff08);
    border: solid 1px #707070;
    border-radius: 20px;
    margin-top: 10px;
    -webkit-appearance: none; // Override default CSS styles
  }
  //Style of the moveable indicator
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid 1px black;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: #dbcaca;
    margin: -5px 0;
    cursor: grab;
  }
  //When you click something on the slider (there used to be a thick black outline)
  input[type="range"]:focus {
    outline: none;
  }
  &__ticks{//tick container
    display: flex;
    justify-content: space-between;
    margin: -20px 31vw 0;
    div {//each seperate tick
      border-left: 2px solid #dbcaca; //Creating the line of the tick
      height: 15px; //height of tick
    }
  }
  &__labels {//each label under a tick
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 5vw;
  }
}
