@use "variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

$red: #DA6A6A75;
$green: #7ADA6A75;


.landing{
  font-family: "Sansita", sans-serif;
  font-style: normal;
  scroll-snap-type: y mandatory;


  header::before,
  header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  header::before{
    background: radial-gradient(circle, $red 0%, transparent 30%);
    animation: moveSpotlight1 10s infinite alternate ease-in-out, changeIntensity1 5s infinite alternate ease-in-out;
  }
  header::after {
    background: radial-gradient(circle, $green 0%, transparent 30%);
    animation: moveSpotlight2 10s infinite alternate ease-in-out, changeIntensity2 5s infinite alternate ease-in-out;
  }
  section{
    height: 100vh;
    scroll-snap-align: start;
  }

  header{
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    height: 100vh;

    h1{
      font-size: 4rem;
      max-width: 600px;
      text-align: center;
      font-weight: 400;
    }
    p{
      font-family: "Hahmlet", serif;
      max-width: 320px;
      text-align: center;
    }

  }
  .motivationSource{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    $animationTime: 10s;
    &::before{ //background pulse
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: transparent;
      animation: pulse $animationTime infinite ease-in;
      transition: background 1s ease-in;
      z-index: -1;
    }

    .positiveSource{ //text
      color: transparent;
      background: #474747;
      background-clip: text;
      animation: highlightGreenText $animationTime infinite ease-in;
    }
    .negativeSource{ //text
      color: transparent;
      background: #474747;
      background-clip: text;
      animation: highlightRedText $animationTime infinite ease-in;
    }
    .scaleContainer{//scale svg
      padding: 50px; 
      width: 500px;
      height: 500px;

      .scale{
        .topBar{
          transform-origin: 50% 50px;
          animation: topBarAnimation $animationTime infinite ease;
        }
        .greenMeasure{
          animation: greenMeasureAnimation $animationTime infinite ease;
        } 
        .redMeasure{
          animation: redMeasureAnimation $animationTime infinite ease;
        } 
      }
    }
  }
  .awareness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h3{
      max-width: 520px;
      text-align: center;
      .highlightText{
        background-image: linear-gradient(to right, #0047FF, #CC00FF);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        .emoji{
          color: yellow; //color type doesn't matter, this just makes the emoji no longer transparent
        }
      }
    }
    .morpheus{
      padding: 50px 0;
    }
  }

  .note{
    font-size: small;
    color: $highlight;
    text-align: center;
    max-width: 350px;
    margin: auto;
  }
  footer{
    margin: auto;
    width: fit-content;
    padding: 30px;

    ul li a{ //footer links
      display: flex;
      align-items: center;
      gap: 3px;

      color: $highlight;
    }
  }

  ul{
    display: flex;
    align-items: center;
    li{
      list-style: none;
    }
  }

  h2{
    font-size: xx-large;
  }
  h3{
    font-size: x-large;
  }
  a{ 
    color: $text-primary; 
  }
  .button{
    padding: 10px 20px;
    border-radius: 5px;
    background: #006F0B;
    font-weight: bold;
  }
}

//***** HERO ANIMATIONS *****//
@keyframes moveSpotlight1 {
  0% { transform: translate(10%, 10%); }
  50% { transform: translate(-9%, 0%); }
  100% { transform: translate(10%, 10%); }
}

@keyframes moveSpotlight2 {
  0% { transform: translate(-10%, -10%); }
  50% { transform: translate(8%, 0%); }
  100% { transform: translate(-10%, -10%); }
}

@keyframes changeIntensity1 {
  0% { opacity: 1; }
  30% { opacity: 0.50; }
  100% { opacity: 1; }
}

@keyframes changeIntensity2 {
  0% { opacity: 1; }
  70% { opacity: 0.50; }
  100% { opacity: 1; }
}

//***** SCALE ANIMATIONS *****//
@keyframes pulse{
  0% { opacity: 0; background: radial-gradient(circle, $green 0%, transparent 400px); }
  25% { opacity: 1; background: radial-gradient(circle, $green 0%, transparent 400px); }
  50% { opacity: 0; }
  75% { opacity: 1; background: radial-gradient(circle, $red 0%, transparent 400px); }
  100% { opacity: 0; background: radial-gradient(circle, $red 0%, transparent 400px); }
}

@keyframes highlightGreenText{
  0%{ color: transparent; }
  25%{ color: #42FF00; }
  50% { color: transparent; }
  100% { color: transparent; }
}
@keyframes highlightRedText{
  0%{ color: transparent; }
  50%{ color: transparent; }
  75%{ color: red; }
  100% { color: transparent; }
}

$distance: 30px;
@keyframes greenMeasureAnimation{
  0%{ transform: none;}
  25%{ transform: translateY($distance); }
  50%{transform: none;  }
  75%{ transform: translateY(-$distance);  }
  100% { transform: none; }
}

@keyframes redMeasureAnimation{
  0%{ transform: none;}
  25%{ transform: translateY(-$distance);  }
  50%{transform: none;  }
  75%{ transform: translateY($distance); }
  100% { transform: none;}
}
@keyframes topBarAnimation{
  0%{ transform: none;}
  25%{ transform: rotateZ(-25deg);  }
  50%{transform: none;  }
  75%{ transform: rotateZ(25deg); }
  100% { transform: none;}
}
