@use "./variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


.landing{
  font-family: "Sansita", sans-serif;
  font-style: normal;

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      font-size: x-large;
    }
    .links{
      display: flex;
      align-items: center;

      .signup{
        padding: 5px;
        border: solid 1px $highlight;
        border-radius: 5px;

        &:hover{
          background: $highlight;
        }
      }
    }
  }

  header::before,
  header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(218, 106, 106, 0.25) 0%, transparent 30%);
    transition: background 1s ease-in-out;
    animation: moveSpotlights 2s infinite alternate ease-in-out, changeIntensity1 5s infinite alternate ease-in-out;
    z-index: -1;
  }
  header::before{
    animation: moveSpotlight1 10s infinite alternate ease-in-out, changeIntensity1 5s infinite alternate ease-in-out;
  }
  header::after {
    background: radial-gradient(circle, rgba(122, 218, 106, 0.25) 0%, transparent 30%);
    animation: moveSpotlight2 10s infinite alternate ease-in-out, changeIntensity2 5s infinite alternate ease-in-out;
  }

  header{
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    height: 100vh;

    h1{
      font-size: 4rem;
      max-width: 600px;
      text-align: center;
      font-weight: 400;
    }
    p{
      font-family: "Hahmlet", serif;
      max-width: 320px;
      text-align: center;
    }

  }
  section{
    margin: 100px 0;
  }
  .motivationSource{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .scale{
      background: radial-gradient(circle at center, #DA6A6A35 0, transparent 300px);
      padding: 200px;
    }
  }
  .awareness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h3{
      max-width: 420px;
      text-align: center;
      .highlightText{
        background-image: linear-gradient(to right, #0047FF, #CC00FF);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        .emoji{
          color: yellow; //color type doesn't matter, this just makes the emoji no longer transparent
        }
      }
    }
    .morpheus{
      padding: 100px 0;
    }
  }

  .note{
    font-size: small;
    color: $primary;
    text-align: center;
    max-width: 350px;
    margin: auto;
  }
  footer{
    margin: auto;
    width: fit-content;
    padding: 30px;

    ul li a{
      display: flex;
      align-items: center;
      gap: 3px;

      color: $highlight;
    }
    ul{
      display: flex;
      align-items: center;
    }
  }

  ul{
    display: flex;
    li{
      list-style: none;
    }
  }

  a{ 
    color: white; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  button{
    box-shadow: none;
    background: #006F0B;
  }
}

@keyframes moveSpotlight1 {
  0% { transform: translate(10%, 10%); }
  50% { transform: translate(-9%, 0%); }
  100% { transform: translate(10%, 10%); }
}

@keyframes moveSpotlight2 {
  0% { transform: translate(-10%, -10%); }
  50% { transform: translate(8%, 0%); }
  100% { transform: translate(-10%, -10%); }
}

@keyframes changeIntensity1 {
  0% { opacity: 0.50; }
  50% { opacity: 0.60; }
  100% { opacity: 0.50; }
}

@keyframes changeIntensity2 {
  0% { opacity: 0.50; }
  50% { opacity: 0.60; }
  100% { opacity: 0.50; }
}
