* {
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
}
li {
  margin-left: 20px;
}
.scale {
  background: #fec86b;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center; //centers the range scale and text

  li {
    margin: 0;
  }
  &__header {
    display: flex;
    &__input {
      //the input field that creates the title of the each scale
      margin: auto;
      padding: 10px;
    }
  }
  &__slider {
    &__range {
      //The scale
      width: 80vw;
      background: linear-gradient(to right, #ff0000, #00ff08);
      border: solid 1px #707070;
      border-radius: 20px;
      margin-top: 10px;
      -webkit-appearance: none; // Override default CSS styles
    }
    input[type=range]::-webkit-slider-thumb {
      //The moveable indicator
      background: #dbcaca;
      border: solid 1px black;
      border-radius: 100%;
      cursor: grab;
      height: 25px;
      margin: -5px 0;
      width: 25px;
      -webkit-appearance: none;
    }
    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
      //The moveable indicator
      background: #dbcaca;
      border: solid 1px black;
      border-radius: 100%;
      cursor: grab;
      height: 25px;
      margin: -5px 0;
      width: 25px;
      -webkit-appearance: none;
    }
    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
      //The moveable indicator
      background: #dbcaca;
      border: solid 1px black;
      border-radius: 100%;
      cursor: grab;
      height: 25px;
      margin: -5px 0;
      width: 25px;
      -webkit-appearance: none;
    }
    &__range:focus {
      //When you click something on the scale (there used to be a thick black outline)
      outline: none;
    }
    &__ticks {
      //tick container
      display: flex;
      justify-content: space-between;
      margin: -20px 31vw 0;
      div {
        //each seperate tick
        border-left: 2px solid #dbcaca; //Creating the line of the tick
        height: 15px; //height of tick
      }
    }
    &__labels {
      //each label under a tick
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 10px 5vw 20px;
    }
  }
  &__writing-space{
    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    label, input{
      display: block;
    }
    input{
      width: 45vw;
      padding: 10px;
    }
  }
}

.new-scale {
  background: #ffa500;
  border-radius: 5px;
  display: block;
  font-size: 30px;
  padding: 0 10px;
  margin: auto;
}
