.explanationContainer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.explanation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 900px;
}
.explanation p{
    margin-top: 20px;
    font-size: x-large;
}