body{
  margin: 0;
  padding: 0;
}
.hero {
  display: flex;
  flex-wrap: wrap-reverse;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 450px;
}
.hero img {
  width: 500px;
}
.btn {
  all: unset;
  background-color: #5dd15b;
  border-radius: 5px;
  color: white;
  font-size: large;
  padding: 15px 20px;
}
.btn:hover {
  background-color: #60dd5c;
  border: 1px;
  cursor: pointer;
}
.logo {
  width: 30px;
}
.hero,
.demo,
.guideOnTool {
  align-items: center;
  height: 100vh;
}
.hero,
.demo,
.guideOnTool,
footer {
  display: flex;
  justify-content: center;
}
.actionLink {
  margin: 0 50px;
}
.actionLink a {
  display: grid;
  color: black;
  font-weight: bold;
  justify-items: center;
  text-decoration: none;
}
