.hero {
  margin: auto;
  width: 70vw;
}
.hero div h1 {
  font-weight: normal;
  margin-bottom: 20px;
}
.hero img {
  width: 40vw;
  height: 50vh;
}
.btn {
  all: unset;
  background-color: #5dd15b;
  border-radius: 5px;
  color: white;
  font-size: large;
  padding: 8px;
}
.btn:hover {
  background-color: #60dd5c;
  border: 1px;
  cursor: pointer;
}
.logo {
  width: 30px;
}
.hero,
.demo,
.guideOnTool {
  align-items: center;
  height: 100vh;
}
.hero,
.demo,
.guideOnTool,
footer {
  display: flex;
  justify-content: center;
}
.actionLink {
  margin: 0 50px;
}
.actionLink a {
  display: grid;
  color: black;
  font-weight: bold;
  justify-items: center;
  text-decoration: none;
}
