//theme colors
$background: #010101;
$primary: #212121;
$secondary: #FFFFFF;
$highlight: #4C4C4C;
$box-shadow: 0 2px 4px #C2C2C250;
$box-shadow-clicked: 0 0 4px #C2C2C250;

//text colors
$text-primary: #FFFFFF;
$text-link: #2491E8;

//button
$button-danger: #A80000;
$button-commit: #148402;
