body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  background-color: #FF8A00;
  border-radius: 5px;
  color: white;
  font-size: large;
  padding: 8px;
}

button:hover{
  background-color: #60dd5c;
  border: 1px;
  cursor: pointer;
}